<!DOCTYPE html>    
 <html>    
 <head>    
 	<meta charset="UTF-8">    
 	<base href="bURL">    
 	<title>Dodaj kategoriju Leka</title>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>    
 	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>  
 	<script src="webjars/jquery/3.2.1/jquery.js" type="text/javascript"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/dodajKomentar.js" type="text/javascript"></script>
 </head>    
 <body>    
 	<ul>    
 		<li><a href="kategorijaLeka">Knjige</a></li>
	 	<li><a href="korisnici/logout">logout</a></li>         
 	</ul>    
 	<form method="post" action="add">    
        <table class="forma">
			<caption>Komentar</caption>
			<tr><th>Tekst komentara:</th><td><input type="text" name="tekstKomentara"/></td></tr>
			<tr><th>Ocena:</th><td><input type="text"  name="ocena"/></td></tr>
			<tr><th>Autor:</th><td><input type="text" name="email_autor"/></td></tr>
			<!-- <tr><th>Lek:</th><td><input type="text" th:value="${komentar.lek}" name="lek"/></td></tr> -->
			<tr><th>Lek: </th>
			<td>
			<select name="lek_id">
				<option th:each="lek: ${lekovi}" th:text="${lek.naziv}" th:value="${lek.id}" >Option 1</option>
			</select>
			</td>
			</tr>
			<tr><th>Anoniman:</th><td><input type="checkbox" name="anoniman"/></td></tr>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
		</table>  
 	</form>   
 	<br/>  
 </body>  
 </html>  		