<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Lek</title>
</head>
<body>
    <h2>Dodaj novi lek</h2>

    <form action="add" method="post">
        <label for="naziv">Naziv:</label>
        <input type="text" id="naziv" name="naziv" required><br>

        <label for="opis">Opis:</label>
        <textarea id="opis" name="opis" required></textarea><br>

        <label for="kontraindikacije">Kontraindikacije:</label>
        <textarea id="kontraindikacije" name="kontraindikacije" required></textarea><br>

        <label for="oblik">Oblik:</label>
        <select id="oblik" name="oblik" required>
            <option value="KAPSULA">Kapsula</option>
            <option value="SIRUP">Sirup</option>
            <option value="INJEKCIJA">Injekcija</option>
            <option value="FILM_TABLETA">Film tableta</option>
        </select><br>


        <!-- Hidden field for dostupnaKolicina -->
        <input type="hidden" id="dostupnaKolicina" name="dostupnaKolicina" value="0" >

        <label for="cena">Cena:</label>
        <input type="number" id="cena" name="cena" step="0.01" required><br>

        <label for="slikaURL">Slika URL:</label>
        <input type="text" id="slikaURL" name="slikaURL" required><br>

        <label for="proizvodjac">Proizvodjac:</label>
        <select id="proizvodjacId" name="proizvodjacId">
            <option th:each="proizvodjac : ${proizvodjaci}" th:value="${proizvodjac.id}" th:text="${proizvodjac.naziv}"></option>
        </select>
        <label for="kategorija">Kategorija:</label>
        <select id="kategorijaId" name="kategorijaId">
            <option th:each="kategorija : ${kategorije}" th:value="${kategorija.id}" th:text="${kategorija.naziv}"></option>
        </select>
        <button type="submit">Dodaj lek</button>
    </form>
</body>
</html>
