<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base href="bURL">
	<title>Dodaj Loyalty Karticu</title>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/dodajLoyaltyKarticu.js" type="text/javascript"></script>
</head>
<body>
	<ul>
		<li><a href="loyaltyKartica">Loyalty Kartice</a></li>
		<li><a href="korisnici/logout">logout</a></li>
	</ul>
	<form method="post" action="add">
		<table class="forma">
			<caption>Loyalty Kartica</caption>
			<tr><th>Korisnik:</th>
				<td>
					<select name="email_korisnika">
						<option th:each="korisnik: ${korisnici}" th:text="${korisnik.ime}" th:value="${korisnik.email}" >Option 1</option>
					</select>
				</td>
			</tr>
			<tr><th>Popust:</th><td><input type="text" name="popust"/></td></tr>
			<tr><th>Broj poena:</th><td><input type="text" name="brojPoena"/></td></tr>
			<tr><th>Status:</th>
				<td>
					<select name="status">
						<option th:each="status: ${statusLoyaltyEnum}" th:text="${status}" th:value="${status}" >Option 1</option>
					</select>
				</td>
			</tr>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
	<br/>
</body>
</html>