<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Kategorija Lekova</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>
		<h3><a href="korpa">Korpa</a></h3>
		<a th:href="@{/profil}">Go to Profil</a>   
	 	<ul>     
	 		<li><a href="lek">Lekovi</a></li>
			<li><a href="komentar">Komentari</a></li>  
			<li><a href="korisnik">Korisnici</a></li>  
			<li><a href="loyaltyKartica">Loyalty kartice</a></li>
			<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>     
	 		<li><a href="korisnici/logout">logout</a></li>   
	 	</ul>     
	 		<div th:text="${session.korisnik.ulogaKorisnika}">uloga</div><br/>
	 		<table>     
	 			<caption>Kategorije Lekova</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th></th>     
	 				<th>Naziv</th>     
	 				<th>Namena</th>     
	 				<th>Opis</th>       
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itKategorijaLeka, status: ${kategorijeLekova}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|kategorijaLeka/details?id=${itKategorijaLeka.id}|" th:text="${itKategorijaLeka.naziv}"></a></td>    
	 				<td th:text="${itKategorijaLeka.naziv}"></td>    
	 				<td th:text="${itKategorijaLeka.namena}"></td>    
	 				<td th:text="${itKategorijaLeka.opis}"></td>
	 				<td>    
	 					<form method="post" action="kategorijaLeka/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itKategorijaLeka.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="dodajKategorijuLeka.html">Dodaj kategoriju leka</a></li>     
	 	</ul>
	 </body>   
 </html>	