<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Loyalty Kartica</title>
</head>
<body>
	<ul>
		<li><a href="loyaltykartica">Loyalty Kartica</a></li>
		<li><a href="korisnici/logout">logout</a></li>
	</ul>
	<form method="post" action="loyaltykartica/edit">
		<input type="hidden" name="id" th:value="${loyaltykartica.korisnik.id}"/>
		<table class="forma">
			<caption>Loyalty Kartica</caption>
			<tr><th>Korisnik:</th><td><input type="text" th:value="${loyaltykartica.korisnik.email}" name="email_korisnik"/></td></tr>
			<tr><th>Popust:</th><td><input type="text" th:value="${loyaltykartica.popust}" name="popust"/></td></tr>
			<tr><th>Broj poena:</th><td><input type="text" th:value="${loyaltykartica.brojPoena}" name="brojPoena"/></td></tr>
			<tr><th>Status:</th><td><input type="text" th:value="${loyaltykartica.status}" name="status"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="loyaltykartica/delete">
		<input type="hidden" name="id" th:value="${loyaltykartica.korisnik.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>