<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}">
		<title>Komentari</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>   
	 	<ul>     
	 		<li><a href="lek">Lekovi</a></li>
			<li><a href="kategorijaLeka">Kategorije Lekova</a></li>
			<li><a href="korisnik">Korisnici</a></li>  
			<li><a href="loyaltyKartica">Loyalty kartice</a></li>
			<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>    
	 		<li><a href="korisnici/logout">logout</a></li>   
	 	</ul>     
	 		<div th:text="${session.korisnik.ulogaKorisnika}">uloga</div><br/>
	 		<table>     
	 			<caption>Komentari</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th></th>     
	 				<th>Autor</th>     
	 				<th>Ocena</th>     
	 				<th>Tekst komentara</th>       
	 				<th>Datum objavljivanja</th>
	 				<th>Anoniman</th>    
	 			</tr>
	 			<tr th:each="itKomentar, status: ${komentari}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|komentar/details?id=${itKomentar.id}|" th:text="${itKomentar.autor.email}"></a></td>    
	 				<td th:text="${itKomentar.autor.email}"></td>    
	 				<td th:text="${itKomentar.ocena}"></td>    
	 				<td th:text="${itKomentar.tekstKomentara}"></td>
	 				<td th:text="${itKomentar.datumObjavljivanja}"></td>
	 				<td th:text="${itKomentar.anoniman}"></td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="komentar/add">Dodaj komentar</a></li>     
	 	</ul>
	 </body>
	 </html>