<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<title>Korisnik</title>
</head>
<body>
	<ul>
 		<li><a href="korisnici">korisnik Information</a></li>
 		<li><a href="korisnici/logout">Logout</a></li>
 	</ul>
	<form method="post" action="korisnici/edit">
		<input type="hidden" name="id" th:value="${korisnik.korisnickoIme}"/>
		<table class="form">
			<caption>korisnik Information</caption>
			<tr><th>Username:</th><td><input type="text" th:value="${korisnik.korisnickoIme}" name="korisnickoIme"/></td></tr>
			<tr><th>Password:</th><td><input type="password" th:value="${korisnik.loznka}" name="loznka"/></td></tr>
			<tr><th>Email:</th><td><input type="email" th:value="${korisnik.email}" name="email"/></td></tr>
			<tr><th>First Name:</th><td><input type="text" th:value="${korisnik.ime}" name="ime"/></td></tr>
			<tr><th>Last Name:</th><td><input type="text" th:value="${korisnik.prezime}" name="prezime"/></td></tr>
			<tr><th>Birth Date:</th><td><input type="date" th:value="${#dates.format(korisnik.datumRodjenja, 'yyyy-MM-dd')}" name="datumRodjenja"/></td></tr>
			<tr><th>Address:</th><td><input type="text" th:value="${korisnik.adresa}" name="adresa"/></td></tr>
			<tr><th>Phone Number:</th><td><input type="text" th:value="${korisnik.brojTelefona}" name="brojTelefona"/></td></tr>
			<tr><th>Registration Time:</th><td><input type="text" th:value="${korisnik.vremeRegistracije}" name="vremeRegistracije" disabled /></td></tr>
			<tr><th>korisnik Role:</th><td><input type="text" th:value="${korisnik.ulogaKorisnika}" name="ulogaKorisnika"/></td></tr>
			<tr><th>Active:</th><td><input type="checkbox" th:checked="${korisnik.aktivan}" name="active"/></td></tr>

			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
        </table>
    </form>
</body>
</html>

