<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Korisnici</title>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	</head>
	<body>
		<h3><a href="korpa">Korpa</a></h3>
		<ul>
			<li><a href="lek">Lekovi</a></li>
			<li><a href="kategorijaLeka">Kategorije Lekova</a></li>
			<li><a href="korisnici">Korisnici</a></li>
			<li><a href="loyaltyKartica">Loyalty kartice</a></li>
			<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>
			<li><a href="korisnici/logout">logout</a></li>
		</ul>
		<div th:text="${session.korisnik.ulogaKorisnika}">uloga</div><br/>
		<table>
			<caption>Korisnici</caption>
			<tr>
				<th>R. br.</th>
				<th>Korisnicko ime</th>
				<th>Lozinka</th>
				<th>Email</th>
				<th>Ime</th>
				<th>Prezime</th>
				<th>Datum rodjenja</th>
				<th>Adresa</th>
				<th>Broj telefona</th>
				<th>Vreme registracije</th>
				<th>Uloga korisnika</th>
				<th>Aktivan</th>
			</tr>
			<tr th:each="itKorisnik, status: ${korisnici}">
				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>
				<td th:text="${itKorisnik.korisnickoIme}"></td>
				<td th:text="${itKorisnik.loznka}"></td>
				<td><a th:href="|korisnici/details?email_korisnika=${itKorisnik.email}" th:text="${itKorisnik.email}"></td>
				<td th:text="${itKorisnik.ime}"></td>
				<td th:text="${itKorisnik.prezime}"></td>
				<td th:text="${itKorisnik.datumRodjenja}"></td>
				<td th:text="${itKorisnik.adresa}"></td>
                <td th:text="${itKorisnik.brojTelefona}"></td>
                <td th:text="${itKorisnik.vremeRegistracije}"></td>
                <td th:text="${itKorisnik.ulogaKorisnika}"></td>
                <td th:text="${itKorisnik.aktivan}"></td>
				<td>
					<form method="post" action="korisnici/delete">
						<input type="hidden" name="email_korisnika" th:value="${itKorisnik.email}">
						<input type="submit" value="Obriši">
					</form>
				</td>
            </tr>
        </table>
        <ul>
            <li><a href="korisnici/add">Dodaj korisnika</a></li>
        </ul>