<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korpa</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Add any necessary CSS or JavaScript references -->
</head>
<body>
    <h1>Korpa</h1>
    <li><a href="kategorijaLeka">Kategorije Lekova</a></li>  
				<li><a href="komentar">Komentari</a></li>  
				<li><a href="korisnici">Korisnici</a></li>  
				<li><a href="kategorijaLeka">Kategorije Lekova</a></li>
				<li><a href="loyaltyKartica">Loyalty kartice</a></li>
				<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>    
				<li><a href="korisnici/logout">logout</a></li> 
    <a th:href="@{/profil}">Go to Profil</a>
    <ul>
        <!-- Menu items -->
    </ul>
    <p>Korisnik: <span th:text="${korpa.korisnik.email}"></span></p>

    
    <!-- Table to display Korpa items -->
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Količina</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="korpaItem, itemStatus : ${korpa.items}">
                <td th:text="${korpaItem.lek.naziv}"></td>
                <td th:text="${korpaItem.lek.cena}"></td>
                <td>
                    <div>
                        <span th:id="'kolicina-' + ${itemStatus.index}" th:text="${korpaItem.kolicina}"></span>
                        <button type="button" th:onclick="'updateKolicina(' + ${itemStatus.index} + ', 1)'" class="btn btn-sm btn-primary">+</button>
                        <button type="button" th:onclick="'updateKolicina(' + ${itemStatus.index} + ', -1)'" class="btn btn-sm btn-primary">-</button>
                    </div>
                </td>
            </tr>
            
            <div th:if="${loyaltyKartica != null}">
                <!-- Display the loyalty card details and discount form -->
                <p>Loyalty Kartica Broj Poena: <span th:text="${loyaltyKartica.brojPoena}"></span></p>
            
                <!-- Add your discount form here -->
                <form th:action="@{/racun/izdaj/{id}(id=${korpa.id})}" method="post">
                    <input type="hidden" name="_method" value="post">
                    <label for="discount">Koristi bodove za popust:</label>
                    <input type="number" id="discount" name="discount" min="0" th:max="${loyaltyKartica.brojPoena > 10 ? 10 : loyaltyKartica.brojPoena}" value="0">
                    <button type="submit">Izdaj Racun</button>
                </form>
                
            </div>
            
            <!-- If the user does not have a loyalty card -->
            <div th:unless="${loyaltyKartica != null}">
                <p>Nemate loyalty karticu za popuste? Napravite je sada i dobijate 50% popusta prilikom prve kupovine</p>
                <!-- Display the button to send a request for a loyalty card -->
                <button type="button" th:attr="onclick=|sendLoyaltyCardRequest('${korpa.korisnik.email}')|" >
                    Posalji zahtev za loyalty karticu
                </button>              
                <form th:action="@{/racun/izdaj/{id}(id=${korpa.id})}" method="post">
                    <input type="hidden" name="_method" value="post">
                    <button type="submit">Izdaj Racun</button>
                </form>
            </div>         
        </tbody>
    </table>

    <!-- JavaScript function to update kolicina value -->
    <script>
        function updateKolicina(index, value) {
            $.ajax({
                url: 'http://localhost:8080/PrviMavenVebProjekat/korpa/updateKolicina',
                method: 'POST',
                data: { index: index, value: value },
                success: function(response) {
                    var updatedKolicina = response.kolicina;
                    var kolicinaElement = $('#kolicina-' + index);
                    kolicinaElement.text(updatedKolicina);
                    // alert(response.message); // Optional: Display a success message
                },
                error: function(error) {
                    // Handle any errors that occurred during the AJAX request
                }
            });
        }
        function sendLoyaltyCardRequest(korisnikEmail) {
    $.ajax({
        url: 'http://localhost:8080/PrviMavenVebProjekat/loyaltyKartica/request',
        method: 'POST',
        data: { korisnikEmail: korisnikEmail },
        success: function(response) {
            alert('Request sent successfully!');
            // Optionally, you can update the UI or perform any additional actions
        },
        error: function(error) {
            alert('Request failed!');
            // Optionally, you can display an error message or perform any additional actions
        }
    });
}
    </script>

</body>
</html>
