<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Lekovi</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
			.lek-image {
				width: 100px;
				height: 100px;
			}
		</style>
		
	 </head>     
	 <body> 
		<h3><a href="korpa">Korpa</a></h3>
		<a th:href="@{/profil}">Go to Profil</a>
		<h1 th:text = "${session.korisnik.ulogaKorisnika}"></h1>
		<div th:if=true>
			<ul th:if="${session.korisnik.ulogaKorisnika.toString() == 'ADMINISTRATOR'}">   
				<li><a href="lek/add">Dodaj lek</a></li>
				<li><a href="korisnici/zahtevi">Zahtevi</a></li>
				<li><a href="kategorijaLeka">Kategorije Lekova</a></li>  
				<li><a href="komentar">Komentari</a></li>  
				<li><a href="korisnici">Korisnici</a></li>  
				<li><a href="kategorijaLeka">Kategorije Lekova</a></li>
				<li><a href="loyaltyKartica">Loyalty kartice</a></li>
				<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>    
				<li><a href="korisnici/logout">logout</a></li>   
			</ul> 
			<ul th:if="${session.korisnik.ulogaKorisnika.toString() == 'APOTEKAR'}">   
				<li><a href="korisnici/addNabavkaLekova">Nabavka Lekova</a></li>
				<li><a href="kategorijaLeka">Kategorije Lekova</a></li>  
				<li><a href="komentar">Komentari</a></li>  
				<li><a href="korisnici">Korisnici</a></li>  
				<li><a href="kategorijaLeka">Kategorije Lekova</a></li>
				<li><a href="loyaltyKartica">Loyalty kartice</a></li>
				<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>    
				<li><a href="korisnici/logout">logout</a></li>   
			</ul> 
			<div>
				<form action="#" th:action="@{/lek/search}" method="get">
					<input type="text" name="search" placeholder="Pretraga lekova...">
					<button type="submit">Pretrazi</button>
				</form>
			</div>    
			<table>     
				<caption>Lekovi</caption>     
				<tr>     
					<th>R. br.</th>     
					<th>Naziv</th>     
					<th>Opis</th>     
					<th>Kontraindikacije</th>     
					<th>Oblik</th>       
					<th>Prosecna ocena</th>
					<th>Slika</th>
					<th>Dostupno</th>
					<th>Cena</th>			
					<th>Proizvodjac</th>
					<th>Kategorija</th> 
				</tr>
				<tr th:each="itLek, status: ${lekovi}">     
					<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
					<td><a th:href="|lek/details?id=${itLek.id}|" th:text="${itLek.naziv}"></a></td>    
					<td th:text="${itLek.opis}"></td>    
					<td th:text="${itLek.kontraindikacije}"></td>    
					<td th:text="${itLek.oblik}"></td>
					<td th:text="${itLek.prosecnaOcena}"></td>
					<td>
						<img th:src="@{'/lekovi/' + ${itLek.slikaURL}}" class="lek-image" />
					</td>					
					<td th:text="${itLek.dostupnaKolicina}"></td>
					<td th:text="${itLek.cena}"></td>
					<td th:text="${itLek.proizvodjac.naziv}"></td>
					<td th:text="${itLek.kategorija.naziv}"></td>
					<td><button type="button" th:onclick="'addToCart(' + ${itLek.id} + ')'" class="btn btn-sm btn-primary">Dodaj u korpu</button></td>
				</tr>
			</table>
		</div>
		<div th:if="${session.korisnik.ulogaKorisnika} == 'KUPAC'">
			<h1>KUPAC</h1>
		</div>
		<script>
			function addToCart(lekId) {
				$.ajax({
					url: '/PrviMavenVebProjekat/korpa/addToCart',
					method: 'POST',
					data: { lekId: lekId },
					success: function(response) {
						alert('Lek je dodat u korpu.');
					},
					error: function(error) {
						// Handle any errors that occurred during the AJAX request
					}
				});
			}
		</script>
		
	 </body>   
 </html>	