<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Lek</title>
</head>
<body>
	<div th:text="${session.korisnik.ulogaKorisnika}">uloga</div><br/>
	<ul>    
 		<li><a href="lek">Lekovi</a></li>
 		<li><a href="korisnici/logout">logout</a></li>      
 	</ul>  
	<form method="post" action="lek/edit">
		<input type="hidden" name="id" th:value="${lek.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Lek</caption>
			<tr><th>Naziv:</th><td><input type="text" th:value="${lek.naziv}" name="naziv"/></td></tr>
			<tr><th>Opis:</th><td><input type="text" th:value="${lek.opis}" name="opis"/></td></tr>
			<tr><th>Kontraindikacije:</th><td><input type="text" th:value="${lek.kontraindikacije}" name="kontraindikacije"/></td></tr>
			<tr><th>Oblik:</th><td><input type="text" th:value="${lek.oblik}" name="oblik"/></td></tr>
			<tr><th>Prosecna ocena:</th><td><input type="text" th:value="${lek.prosecnaOcena}" name="prosecnaOcena"/></td></tr>
			<tr><th>Slika:</th><td><input type="text" th:value="${lek.slikaURL}" name="slikaURL"/></td></tr>
			<tr><th>Dostupno:</th><td><input type="text" th:value="${lek.dostupnaKolicina}" name="dostupnaKolicina"/></td></tr>
			<tr><th>Cena:</th><td><input type="text" th:value="${lek.cena}" name="cena"/></td></tr>
			<tr><th>Proizvodjac:</th><td><input type="text" th:value="${lek.proizvodjac.naziv}" name="nazivProizvodjaca"/></td></tr>
			<tr><th>Kategorija:</th><td><input type="text" th:value="${lek.kategorija.naziv}" name="nazivKategorije"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<h3>Komentari</h3>
<ul>
    <li th:each="komentar, status: ${komentari}">
        <label th:text="${komentar.tekstKomentara}"></label>
        <span th:text="${komentar.ocena}"></span>
    </li>
</ul>

<form action="komentar/submitComment" method="post">
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment">
    
    <label for="rating">Rating (1-5):</label>
    <input type="number" id="rating" name="rating" min="1" max="5">
    
    <input type="hidden" id="lekId" name="lekId" th:value="${lek.id}">
    
    <button type="submit">Submit</button>
</form>


	
</body>
</html>