<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Loyalty Kartica</title>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
		<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	</head>
	<body>
		<h3><a href="korpa">Korpa</a></h3>
		<ul>
			<li><a href="kategorijaLeka">Kategorije Lekova</a></li>  
			<li><a href="komentar">Komentari</a></li>  
			<li><a href="korisnici">Korisnici</a></li>  
			<li><a href="lek">Lekovi/a></li>
			<li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>    
	 		<li><a href="korisnici/logout">logout</a></li>   
		</ul>
		<div th:text="${session.korisnik.ulogaKorisnika}">Uloga</div><br/>
		<table>
			<caption>Loyalty Kartice</caption>
			<tr>
				<th>R. br.</th>
				<th>Korisnik</th>
				<th>Popust</th>
				<th>Broj poena</th>
				<th>Status</th>
				<th></th>
			</tr>
			<tr th:each="itLoyaltyKartica, status: ${loyaltyKartice}">
				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>
				<td><a th:href="|loyaltyKartica/details?email_korisnika=${itLoyaltyKartica.korisnik.email}|" th:text="${itLoyaltyKartica.korisnik.email}"></a></td>
				<td th:text="${itLoyaltyKartica.popust}"></td>
				<td th:text="${itLoyaltyKartica.brojPoena}"></td>
				<td th:text="${itLoyaltyKartica.status}"></td>
				<td>
					<form method="post" action="loyaltyKartica/delete">
						<input type="hidden" name="email_korisnika" th:value="${itLoyaltyKartica.korisnik.email}">
						<input type="submit" value="Obriši">
					</form>
				</td>
			</tr>
		</table>
		<ul>
			<li><a href="loyaltyKartica/add">Dodaj Loyalty Karticu</a></li>
		</ul>
	</body>
</html>