<!DOCTYPE html>
<html>
<head>
    <title>Add Nabavka Lekova</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Add Nabavka Lekova</h1>

    <form id="nabavkaForm" method="post" action="/PrviMavenVebProjekat/korisnici/addNabavkaLekova">

        <!-- Add the input field for razlogNabavke -->
        <label for="razlogNabavke">Razlog Nabavke:</label>
        <input type="text" id="razlogNabavke" name="razlogNabavke" required>

        <input type="hidden" id="apotekar" name="apotekarEmail" th:value="${korisnik.email}">
        <select id="lek" name="lekId">
            <option th:each="lek : ${lekovi}" th:value="${lek.id}" th:text="${lek.naziv}"></option>
        </select>


        <label for="kolicina">Kolicina Nabavke:</label>
        <input type="number" id="kolicina" name="kolicina" required>


        <button type="submit">Dodaj Nabavku</button>
    </form>





    
    <script>
        $(document).ready(function() {
            // Handle form submission
            $('#nabavkaForm').submit(function(e) {
                e.preventDefault();
                
                // Perform AJAX request
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        alert('Nabavka added successfully.');
                        // Reload the page or update the UI as needed
                    },
                    error: function(error) {
                        alert('Error adding nabavka: ' + error.responseText);
                        // Display an error message or take appropriate action
                    }
                });
            });
        });
    </script>
</body>
</html>
