<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <!-- Add any necessary CSS or JavaScript references -->
</head>
<body>
    <ul>     
        <li><a href="lek">Lekovi</a></li>
       <li><a href="komentar">Komentari</a></li>  
       <li><a href="korisnik">Korisnici</a></li>  
       <li><a href="loyaltyKartica">Loyalty kartice</a></li>
       <li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>     
        <li><a href="korisnici/logout">logout</a></li>   
    </ul>
    <h1>Profil</h1>
    <p>Ime: <span th:text="${korisnik.ime}"></span></p>
    <p>Prezime: <span th:text="${korisnik.prezime}"></span></p>
    <p>Email: <span th:text="${korisnik.email}"></span></p>
    <!-- Additional profile details -->
    <h1>Istorija kupovine</h1>
    <table>
        <thead>
            <tr>
                <th>Racun ID</th>
                <th>Datum i vreme</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="racun : ${istorijaKupovine}">
                <td><a th:href="@{/racun/details/{id}(id=${racun.id})}" th:text="${racun.id}"></a></td>
                <td th:text="${racun.timeStamp}"></td>
                <td th:text="${racun.cena}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
