<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Proizvođači Leka</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>
		<h3><a href="korpa">Korpa</a></h3>   
	 	<ul>     
	 		<li><a href="lek">Lekovi</a></li>  
	 		<li><a href="korisnici/logout">logout</a></li>   
	 	</ul>     
	 		<div th:text="${session.korisnik.ulogaKorisnika}">uloga</div><br/>
	 		<table>     
	 			<caption>Proizvođači Leka</caption>     
	 			<tr>     
	 				<th>R. br.</th>     
	 				<th>Naziv</th>     
	 				<th>Država Sedišta</th>     
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itProizvodjacLeka, status: ${proizvodjaciLekova}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|proizvodjacLeka/details?id=${itProizvodjacLeka.id}|" th:text="${itProizvodjacLeka.naziv}"></a></td>    
	 				<td th:text="${itProizvodjacLeka.drzavaSediste}"></td>
	 				<td>    
	 					<form method="post" action="proizvodjacLeka/delete" >     
	 						<input type="hidden"  name="id"  th:value="${itProizvodjacLeka.id}">     
	 						<input type="submit"  value="Obriši" >    
	 					</form>    
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="dodajProizvodjacLeka.html">Dodaj proizvođača leka</a></li>     
	 	</ul>
    </body>
</html>