<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Proizvođač leka</title>
</head>
<body>
	<ul>    
 		<li><a href="proizvodjacLeka">Proizvođač leka</a></li>
 		<li><a href="korisnici/logout">logout</a></li>      
 	</ul>  
	<form method="post" action="proizvodjacLeka/edit">
		<input type="hidden" name="id" th:value="${proizvodjacLeka.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Proizvođač Leka</caption>
			<tr><th>Naziv:</th><td><input type="text" th:value="${proizvodjacLeka.naziv}" name="naziv"/></td></tr>
			<tr><th>Država sedište:</th><td><input type="text" th:value="${proizvodjacLeka.drzavaSediste}" name="drzavaSediste"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="proizvodjacLeka/delete">
		<input type="hidden" name="id" th:value="${proizvodjacLeka.id}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>