<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Racun Details</title>
    <!-- Add any necessary CSS or JavaScript references -->
</head>
<body>
    <ul>     
        <li><a href="lek">Lekovi</a></li>
       <li><a href="komentar">Komentari</a></li>  
       <li><a href="korisnik">Korisnici</a></li>  
       <li><a href="loyaltyKartica">Loyalty kartice</a></li>
       <li><a href="proizvodjacLeka">Proizvodjaci lekova</a></li>     
        <li><a href="korisnici/logout">logout</a></li>   
    </ul>
    <h1>Racun Details</h1>
    <p>Racun ID: <span th:text="${racun.id}"></span></p>
    <p>Datum : <span th:text="${racun.timeStamp}"></span></p>
    <p>Cena: <span th:text="${racun.cena}"></span></p>
    <!-- Additional racun details -->
    
    <h2>Items</h2>
    <table>
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Kolicina</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="racunItem : ${racun.lekovi}">
                <td th:text="${racunItem.lek.naziv}"></td>
                <td th:text="${racunItem.lek.cena}"></td>
                <td th:text="${racunItem.kolicina}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
