<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zahtevi</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <h1>Zahtevi za odobravanje korisnika</h1>
    <ul>
        <li th:each="korisnik : ${korisnici}">
            <!-- Display information about the user request -->
            <p>Korisnik: <span th:text="${korisnik.ime}"></span></p>
            <p>Email: <span th:text="${korisnik.email}"></span></p>
            <!-- Add buttons or links for approving or denying the user request -->
            <button type="button" th:attr="onclick='approveUser(\'' + ${korisnik.email} + '\')'" >Odobri</button>
            <button type="button" th:attr="onclick='denyUser(\'' + ${korisnik.email} + '\')'" >Odbij</button>

        </li>
    </ul>
    
    <h1>Zahtevi za odobravanje loyalty kartica</h1>
    <ul>
        <li th:each="kartica : ${kartice}">
            <!-- Display information about the loyalty card request -->
            <p>Korisnik: <span th:text="${kartica.korisnik.ime}"></span></p>
            <p>Email: <span th:text="${kartica.korisnik.email}"></span></p>
            <p>Broj poena: <span th:text="${kartica.brojPoena}"></span></p>
            <!-- Add buttons or links for approving or denying the loyalty card request -->
            <button type="button" th:attr="onclick='approveLoyaltyCard(\'' + ${kartica.korisnik.email} + '\')'" >Odobri</button>
            <button type="button" th:attr="onclick='denyLoyaltyCard(\'' + ${kartica.korisnik.email} + '\')'" >Odbij</button>
        </li>
    </ul>
    <h1>Zahtevi za odobravanje nabavke</h1>
<ul>
    <li th:each="nabavka : ${nabavke}">
        <!-- Display information about the procurement request -->
        <p>Apotekar: <span th:text="${nabavka.apotekar.email}"></span></p>
        <p>Datum i vreme: <span th:text="${nabavka.datumIVreme}"></span></p>
        <p>Status: <span th:text="${nabavka.status}"></span></p>
        <p>Razlog nabavke: <span th:text="${nabavka.razlogNabavke}"></span></p>
        <p>Lek: <span th:text="${nabavka.lek.naziv}"></span></p>
        <p>Kolicina nabavke: <span th:text="${nabavka.kolicinaNabavke}"></span></p>
        <p>Razlog odbijanja: <span th:text="${nabavka.razlogOdbijanja}"></span></p>        
        <!-- Add buttons or links for approving or denying the procurement request -->
        <button type="button" th:attr="onclick='approveNabavka(\'' + ${nabavka.id} + '\')'">Odobri</button>
        <button type="button" th:attr="onclick='denyNabavka(\'' + ${nabavka.id} + '\')'">Odbij</button>
    </li>
    
</ul>
    <script>
        // AJAX request to approve procurement
    function approveNabavka(nabavkaId) {
        $.ajax({
            url: '/PrviMavenVebProjekat/korisnici/approveNabavka',
            type: 'POST',
            data: { nabavkaId: nabavkaId },
            success: function(response) {
                // Handle the success response
                console.log('Nabavka approved successfully.');
                // Reload the page or update the UI as needed
            },
            error: function(error) {
                // Handle the error response
                console.error('Error approving nabavka:', error);
                // Display an error message or take appropriate action
            }
        });
    }

    // AJAX request to deny procurement
    function denyNabavka(nabavkaId) {
        $.ajax({
            url: '/PrviMavenVebProjekat/korisnici/denyNabavka',
            type: 'POST',
            data: { nabavkaId: nabavkaId },
            success: function(response) {
                // Handle the success response
                console.log('Nabavka denied successfully.');
                // Reload the page or update the UI as needed
            },
            error: function(error) {
                // Handle the error response
                console.error('Error denying nabavka:', error);
                // Display an error message or take appropriate action
            }
        });
    }
        // AJAX request to approve user
        function approveUser(userId) {
            $.ajax({
                url: '/PrviMavenVebProjekat/korisnici/approveUser',
                type: 'POST',
                data: { userId: userId },
                success: function(response) {
                    // Handle the success response
                    console.log('User approved successfully.');
                    // Reload the page or update the UI as needed
                },
                error: function(error) {
                    // Handle the error response
                    console.error('Error approving user:', error);
                    // Display an error message or take appropriate action
                }
            });
        }

        // AJAX request to deny user
        function denyUser(userId) {
            $.ajax({
                url: '/PrviMavenVebProjekat/korisnici/denyUser',
                type: 'POST',
                data: { userId: userId },
                success: function(response) {
                    // Handle the success response
                    console.log('User denied successfully.');
                    // Reload the page or update the UI as needed
                },
                error: function(error) {
                    // Handle the error response
                    console.error('Error denying user:', error);
                    // Display an error message or take appropriate action
                }
            });
        }

        // AJAX request to approve loyalty card
        function approveLoyaltyCard(cardId) {
            $.ajax({
                url: '/PrviMavenVebProjekat/korisnici/approveLoyaltyCard',
                type: 'POST',
                data: { cardId: cardId },
                success: function(response) {
                    // Handle the success response
                    console.log('Loyalty card approved successfully.');
                    // Reload the page or update the UI as needed
                },
                error: function(error) {
                    // Handle the error response
                    console.error('Error approving loyalty card:', error);
                    // Display an error message or take appropriate action
                }
            });
        }

        // AJAX request to deny loyalty card
        function denyLoyaltyCard(cardId) {
            $.ajax({
                url: '/PrviMavenVebProjekat/korisnici/denyLoyaltyCard',
                type: 'POST',
                data: { cardId: cardId },
                success: function(response) {
                    // Handle the success response
                    console.log('Loyalty card denied successfully.');
                    // Reload the page or update the UI as needed
                },
                error: function(error) {
                    // Handle the error response
                    console.error('Error denying loyalty card:', error);
                    // Display an error message or take appropriate action
                }
            });
        }
    </script>
</body>


</html>
